</br>
</br>
<hr>
</br>
<footer class="footer">
  <div class="container">
    <p>&copy; 2019</p>
    <p class="text-muted">
      <a href="https://bitbucket.org/professorcase/node-express-mvc-ejs-start">Ravi Kumar Atluri      </a>
      <a href="https://bitbucket.org/professorcase/node-express-mvc-ejs-start">Midhun Kandakatla     </a>
      <a href="https://bitbucket.org/professorcase/node-express-mvc-ejs-start">Varun Goud Pulipalpula     </a>
      <a href="https://bitbucket.org/professorcase/node-express-mvc-ejs-start">Bala Gopi Krishna Sabbineni     </a>
    </p>
  </div>
</footer>